@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: bayon;
    background: url(imgs/3dbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul{
    display: flex;
    background-color: white;
    font-family: ubuntu;
    justify-content: space-around;

}
nav li{
    padding: 5px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    list-style: none;
}
nav li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
nav li:hover a{
    color: #333;
}
nav a{
    text-decoration: none;
    color: black;
}


.container1{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-family: ubuntu;
    color: white;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}
.container1-2{
    display: block;
    margin: 150px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 250, 240, 0.219);
    backdrop-filter: blur(10px);
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.txtbx{
    width: 300px;
    font-family: ubuntu;
    height: 30px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    outline: none;
}
.button1{
    margin-top: 30px;
}
button{
    background-color: aliceblue;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: ubuntu;
}
button:active{
    background-color: rgb(255, 218, 149);
}

input{
    margin: 20px;
}